<form [formGroup]="fg">
  <div class="form-group">
    <label for="username">Benutzername</label>
    <input type="text" class="form-control" id="username" formControlName="username">
  </div>
  <div class="form-group">
    <label for="password">Passwort</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!fg.valid" (click)="loginHandler()">Einloggen</button>
</form>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
