/* You can add global styles to this file, and also import other style files */

// ########## Colors #############

$light-gray: #ddd;
$less-light-gray: #ccc;
$dark-gray: #999;
$very-dark-gray: #333;

// ###########  Imports  ############

@import "scss/fonts/fonts";
@import "scss/bootstrap";

@import "scss/components/header";
@import "scss/components/nav";
@import "scss/components/footer";

@import "scss/components/home";

// ###########  CSS  ############

body {
  background: url("assets/witewall_3/witewall_3.png") repeat;
  font-size: 15px; // root font size; don't need a variable, we're working with rem
}

a, button {
  transition: 0.3s;
  border-radius: 3px;
}
a:hover, button:hover {
  cursor: pointer;
}

.container {
  @include media-breakpoint-down(xs) {
    padding: 0;
    margin: 0;
  }
}
