.header {
  // only the login/logut button
  a.btn {
    font-weight: 300;
    &:hover {
      background-color: #003778;
      border-color: #003778;
      color: #fff;
    }
  }

  .site-title {
    font-size: 2rem;
    line-height: 1em;
    text-transform: uppercase;
    color: $very-dark-gray;
    font-weight: 300;
    letter-spacing: -2px;
    word-spacing: 4px;
  }

  &__username {
    @include media-breakpoint-up(md) {
      margin-right: 1em;
    }
  }
}
