// all blog entries
.blog-entry {
  margin: 1.5rem 0;
  background-color: #fff;

  // an image post
  &__image {

    // the actial image (wrapper; inside is the <img>)
    &__media {

    }

    &__text {
      padding: 1rem;
      box-sizing: border-box;

      &__title {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1em;
        padding-bottom: 0.7em;
        margin-bottom: 0.7em;
        border-bottom: 1px solid $light-gray;
      }
      &__description {
        line-height: 1.42em;
      }
    }
  }

  &__admin {
    display: flex;
    justify-content: flex-end;
    line-height: 1em;
    padding-bottom: 0.7em;
    padding-left: 1rem;
    padding-right: 1rem;

    // the button saying "edit"
    .btn {

    }
  }
}
