.nav {
  a {
    &.active {
      background-color: #eee
    }
    &:hover {
      text-decoration: none;
      background-color: $light-gray;
    }
    &:active {
      background-color: $less-light-gray
    }
  }
}
