<header class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h1 class="site-title my-0 mr-md-auto">Phips Photoblog</h1>
  <nav class="my-2 my-md-0 mr-md-3 nav">
    <a class="p-2 text-dark" routerLinkActive="active" routerLink="/home"><i class="fas fa-camera"></i>&nbsp;&nbsp;Blog</a>
    <a class="p-2 text-dark" routerLinkActive="active" routerLink="/about" href="#"><i class="fas fa-user-circle"></i>&nbsp;&nbsp;About</a>
    <a class="p-2 text-dark" routerLinkActive="active" routerLink="/contact" href="#"><i class="fas fa-comments"></i>&nbsp;&nbsp;Contact me</a>
  </nav>
  <a *ngIf="!authService.isLoggedIn" class="header__loginlogout_button btn btn-outline-primary"
     routerLink="/login"><i class="fas fa-user-circle"></i>&nbsp;&nbsp;Login</a>
  <span class="header__username" *ngIf="authService.isLoggedIn && authService.user">Hallo {{authService.user.username}}</span>
  <a *ngIf="authService.isLoggedIn" class="header__loginlogout_button btn btn-outline-primary"
     (click)="logoutHandler()"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a>
</header>

<div class="container">
  <router-outlet></router-outlet>

  <footer class="footer mt-md-5 pt-2 border-top text-center">
    <small class="d-block mb-2 text-muted">
      <a routerLink="impressum">Impressum</a>
      <a routerLink="datenschutz">Datenschutz</a>
    </small>
  </footer>
</div>
