<div *ngIf="!editMode" class="blog-entry">
  <div class="blog-entry__image">
    <div class="blog-entry__image__media">
      <img src="{{image.url}}" class="img-fluid" alt="{{image.name}}">
    </div>
    <div class="blog-entry__image__text">
      <h3 *ngIf="image.name"
          class="blog-entry__image__text__title">{{image.name}}</h3>
      <p *ngIf="image.description"
         class="blog-entry__image__text__description">{{image.description}}</p>
    </div>
    <div *ngIf="authService.isLoggedIn" class="blog-entry__admin">
      <button type="button" class="btn btn-primary" title="edit"
              (click)="editMode = true"
      ><i class="far fa-edit"></i>&nbsp;&nbsp;edit</button>
    </div>
  </div>
</div>

<!-- Admin Sicht -->
<div *ngIf="authService.isLoggedIn && editMode" class="blog-entry">
  <form>
    <div class="blog-entry__image">
      <div class="blog-entry__image__media">
        <img src="{{image.url}}" class="img-fluid" alt="{{image.name}}">
      </div>
      <div class="blog-entry__image__text">
        <input class="blog-entry__image__text__title  form-control" [(ngModel)]="newTitle" name="title" />
        <textarea class="blog-entry__image__text__description  form-control" [(ngModel)]="newDescription" name="description"></textarea>
      </div>
    </div>
    <div class="blog-entry__admin">
      <button *ngIf="editMode" (click)="abortEditHandler()" type="button"
              class="btn btn-secondary mr-1" title="abort"><i class="fas fa-ban"></i>&nbsp;&nbsp;abort</button>
      <button *ngIf="editMode" (click)="saveEditHandler()" type="button"
              class="btn btn-primary" title="save"><i class="far fa-save"></i>&nbsp;&nbsp;save</button>
      <button *ngIf="!editMode" type="button" class="btn btn-primary" title="edit"
        (click)="editMode = true"
      ><i class="far fa-edit"></i>&nbsp;&nbsp;edit</button>
    </div>
  </form>
</div>
